@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  overflow-x: hidden;
}

.framer-motion-container-fix::-webkit-scrollbar {
  display: none;
}
