@import 'tailwindcss';

@theme {
  --breakpoint-2xs: 23rem;
  --breakpoint-xs: 30rem;
  --breakpoint-3xl: 120rem;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

html,
body {
  overflow-x: hidden;
}

.framer-motion-container-fix::-webkit-scrollbar {
  display: none;
}
